.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: .5rem 4rem;
}

.navbar_header_link{
  letter-spacing: 3px;
  color: #fff;
  padding: 5px;
}

.navbar_ul{
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar_ul_link{
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: #fff;
  border-bottom: solid 0px #fff;
  transition: border-bottom .5s ease-in-out;
  padding: 5px;
}

.navbar_ul_link:hover{
  border-bottom: solid 1px #fff;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}

