.Board{
  background: rgba(228, 222, 28, 0.942);
  padding: 1rem;
  border-radius: 10px;
  width: 220px;
  height: 150px;
  flex-shrink: 0;
}

.Board button {
  padding: .5rem 1.5rem;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  background: #7c54e2;
  color: #fff;
  cursor: pointer;
}

.Board button:hover{
  background: #5c3ea8;
}