.Home{
  display: grid;
  grid-template-rows: 5fr 7fr;
  margin-left: 10px;
}

.Home .top, .Home .bottom{
  max-width: 1290px;
}

.top h2, .bottom h2{
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}